/* CSS Document */
.container{width:auto !important}
.table-borderless td, .table-borderless th { border:none !important }
input.icon-calendar {background-image: url(../images/icon-calendar.png);background-position: right center;background-repeat: no-repeat;padding-right: 22px;}

#idnhldy-reservation{min-height:500px; width:1000px; margin:auto; border:solid 1px #CCCCCC; padding:15px; font-size:12px; background:#FFF;
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
#idnhldy-reservation .hidden-field{display:none}
#idnhldy-reservation .row .lesspad{padding-left:5px; padding-right:5px}

#idnhldy-reservation .res_nav{background:#EBEBEB url(../images/background-menu.png) top repeat-x;clear: both;color: #252525;
	height: 45px;margin:-15px -14px 15px -14px;overflow:hidden; line-height:1em;}
	
	#idnhldy-reservation .res_nav ol{list-style:none !important; margin:1px 0; padding:0}
	#idnhldy-reservation .res_nav ol li{float:left; padding:15px 5px 10px 10px; font-size:14px; color:#999; width:auto; text-align:center}
	
	#idnhldy-reservation .res_nav ol li.sp{background:url(../images/bg-wizard-right.png) right top; height:44px; padding:0; width:20px}
	#idnhldy-reservation .res_nav ol li.sp_active{background:url(../images/bg-wizard-color.jpg) right top; height:44px; padding:0; width:18px}
	#idnhldy-reservation .res_nav ol li.active{background:url(../images/bg-active.png); height:45px; color:#FFF; padding-right:30px; margin-right:-20px}

/*NEWS UPDATES*/
#idnhldy-reservation .page-view .news-updates .news{border-bottom:solid 1px #EEE; padding:15px 0}
#idnhldy-reservation .page-view .news-updates .news .title{font-size:18px;}
#idnhldy-reservation .page-view .news-updates .news .title a{text-decoration:none}
#idnhldy-reservation .page-view .news-updates .news .date{font-size:12px; color:#999}
#idnhldy-reservation .page-view .news-updates .news .short-desc{margin-top:8px}
/*--NEWS UPDATES*/

#loading_page {width: 100%;height: 100%;background: rgba(0,0,0,0.5);position: fixed;z-index: 10000}
#loading_page .loading_box {background: #FFF;border: solid 5px #222;border-radius: 5px;position: absolute;top: 50%;right: 50%;padding: 5px;margin-top: -35px;margin-right: -88px}
#loading_page .loading_box .image {float: left;margin-right: 0px;}
#loading_page .loading_box .desc {float: left;margin-top: 5px}

.table-field {padding: 10px}
.table-field .tr-field {padding-top: 5px;padding-bottom: 5px;}