
#container_outer{
    border: solid 1px #CCCCCC;
    min-height: 500px;
    /*width: 1140px;*/
    font-size: 12px !important;
}
#booking_step{
    padding-top: 15px;
}
.res_nav{
    background: #EBEBEB url(https://bes.hybridbooking.com/public/images/background-menu.png) top repeat-x;
    clear: both;
    color: #252525;
    height: 45px;
    margin: -15px -14px 15px -14px;
    overflow: hidden;
    line-height: 1em;  
    /*background-color: #f6f6f6;*/
}
.res_nav ol li {

    float: left;
    padding: 15px 5px 10px 10px;
        padding-right: 5px;
    font-size: 14px;
    color: #999;
    /*width: 10%;*/
    text-align: center;

}
.res_nav ol li.sp {

background: url(https://bes.hybridbooking.com/public/images/bg-wizard-right.png) right top;
height: 44px;
padding: 0;
width: 20px;

}

.res_nav ol li.sp_active, .custom-theme-booking-step li.sp_active {

background: url(https://bes.hybridbooking.com/public/images/bg-wizard-color.jpg) right top;
background-image: url(https://bes.hybridbooking.com/public/images/bg-wizard-color.jpg);
    background-position-x: right;
    background-position-y: top;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    width: 18px !important;
    height: 44px;

}


#hb-be-booking-modal .ui-datepicker-inline{margin:auto !important}
#hb-be-booking-modal .ui-datepicker td{padding:0 !important}
#hb-be-booking-modal .ui-datepicker td span, .ui-datepicker td a{padding:10px !important}  
#hb-be-booking-modal .ui-datepicker{width:auto !important}
#hb-be-booking-modal .ui-widget.ui-widget-content{border:none !important}
#hb-be-booking-modal .ui-datepicker .ui-datepicker-header{padding: 10px 0 !important; background: white !important; color:black !important;}
#hb-be-booking-modal .ui-datepicker .ui-datepicker-prev, #hb-be-booking-modal .ui-datepicker .ui-datepicker-next{
    top: 7px; width: 30px; height: 30px; background: #FFF; border-radius: 0; background:none !important; color:black !important;border: 1px solid black;
}

#hb-be-booking-modal .ui-datepicker-prev span, #hb-be-booking-modal .ui-datepicker-next span { background-image: none !important;}
#hb-be-booking-modal .ui-datepicker-prev:before, #hb-be-booking-modal .ui-datepicker-next:before {
  font-family: 'Glyphicons Halflings';position: absolute;top: 0;right: 0;bottom: 0;left: 0;display: flex;font-weight: normal;align-items: center;justify-content: center;
}
#hb-be-booking-modal .ui-datepicker-prev:before {content: "\e257";}
#hb-be-booking-modal .ui-datepicker-next:before {content: "\e258";}

#hb-be-booking-modal .ui-datepicker .ui-datepicker-next{right:7px !important}
#hb-be-booking-modal .ui-datepicker .ui-datepicker-prev{left:7px !important}
#hb-be-booking-modal .ui-datepicker .ui-state-active{border: 1px solid #f4ab3c !important; background: #11aecf !important; color:#FFF !important}
#hb-be-booking-modal .ui-datepicker .ui-state-default{background:#FFF; border: 1px solid #F4F4F4 !important; text-align:center !important}
#hb-be-booking-modal .ui-datepicker .ui-datepicker-title{text-transform:uppercase}
#hb-be-booking-modal .ui-datepicker .ui-state-highlight{background:gray; color: #ffffff;}
#hb-be-booking-modal .ui-datepicker th{padding: 1em 0.3em;background: #0274be;color: #FFF;border: 1px solid white;}
#hb-be-booking-modal .ui-datepicker .ui-widget-header{border:1px solid #EEE !important; border-radius:0 !important}

#hb-be-booking-modal .ui-datepicker .ui-state-disabled{opacity:1}
#hb-be-booking-modal .ui-datepicker .ui-state-disabled .ui-state-default{background:#EEE !important; color:#b7b7b7}
        

.res_nav ol {

    list-style: none !important;
    margin: 1px 0;
    padding: 0;

}

.res_nav ol li.active {

    background: url(https://bes.hybridbooking.com/public/images/bg-active.png);
    height: 45px;
    color: #FFF;
    padding-right: 30px;
    margin-right: -20px;

}
 .res_nav ol li {

/*    float: left;
    padding: 15px 5px 10px 10px;
        padding-right: 5px;
    font-size: 14px;
    color: #999;*/
    width: auto;
    /*text-align: center;*/

}

#book_now{
    background: #286090;

color: white;
}
