/* CSS Document */
#idnhldy-reservation .lang-and-currency{display:none}
#idnhldy-reservation .row.pad10{margin:0 -10px}
#idnhldy-reservation .main-col-left{width:100%; padding-right:15px; float:none}
#idnhldy-reservation .main-col-right{width:100%; padding:15px; margin:0; float:none}
#idnhldy-reservation .main-col-right .box:after{display:table; content:" "; clear:both}
#idnhldy-reservation .main-col-right .box .text{width:50%; float:left}
#idnhldy-reservation h1.title{padding:0 0px}
#idnhldy-reservation .page-view .date-title{padding:0 0px}
#idnhldy-reservation .step-product-detail .main-col-right{width:100% !important; padding-right:0; padding-left:0}

#idnhldy-reservation .hr-devide{display:none}

body{background:#ececec}
#idnhldy-reservation{background:#ececec; border:none}

/*STEP 1*/
#idnhldy-reservation .step-product-list .product-list{background:#FFF; padding-top:15px; padding-bottom:15px; margin-bottom:10px; border-radius:5px}
#idnhldy-reservation .step-product-list .dsktp-line{display:none}
#idnhldy-reservation .step-product-list .product-image{padding-right:5px}
#idnhldy-reservation .step-product-list .product-image .thumb{position:relative}
#idnhldy-reservation .step-product-list .product-image .thumb .price-ribbon{position:absolute; position: absolute;z-index: 999; left:-9px; top:10px;}
#idnhldy-reservation .step-product-list .product-image .thumb .price-ribbon .price{background-color:#ffcc00; padding:10px 10px 8px 20px; color:#000; 
	font-weight:bold; line-height:1em; font-size:14px}
#idnhldy-reservation .step-product-list .product-image .thumb .price-ribbon .bgbottom{height:10px; width:10px; background:url(../images/bottomprice.png) no-repeat left;
	margin-top:-1px}

#idnhldy-reservation .step-product-list .product-desc{padding-left:5px}

/*STEP 2*/
#idnhldy-reservation .step-product-detail #top-gallery .slider-pad{background:#CCC; width:100%; min-height:100px;}
#idnhldy-reservation .step-product-detail .gallery{margin-bottom:10px !important; padding:0;}

#idnhldy-reservation .step-product-detail .product-hilight ul{margin-bottom:0 !important; font-size:14px}
#idnhldy-reservation .step-product-detail .left{float:none; width:100%}
#idnhldy-reservation .step-product-detail .right{float:none; width:100%}
#idnhldy-reservation .step-product-detail .product-detail h1.title{margin-left:-15px; margin-right:-15px; padding:0 10px}
#idnhldy-reservation .step-product-detail .box-detail{background:#FFF !important; margin-left:-15px; margin-right:-15px; padding:10px; margin-top:0; margin-bottom:10px; border-radius:5px}
#idnhldy-reservation .step-product-detail .booking .info-desc{width:33%}
#idnhldy-reservation .step-product-detail .booking .select-date{width:40%}
#idnhldy-reservation .step-product-detail .booking .bookprice{width:27%}
#idnhldy-reservation .step-product-detail .booking .bookprice .price span{font-size:24px !important}
#idnhldy-reservation .step-product-detail .gallery.videos{margin-bottom:10px !important; padding:0; margin-left:-20px; margin-right:-20px;}

#idnhldy-reservation .step-product-detail .additional_charge{border-top:solid 4px #ececec}

#idnhldy-reservation .step-product-detail #controlTab{margin-left:-15px; margin-right:-15px}
#idnhldy-reservation .step-product-detail #controlTab li.active>a{border-color:#FFF}
#idnhldy-reservation .step-product-detail .infobox{border-radius:0 0 5px 5px}

/*STEP 3*/
#idnhldy-reservation .step-chartlist .shopping-cart{background:#FFF; margin-left:-15px; margin-right:-15px; padding:10px; border-radius:5px}

#idnhldy-reservation .step-chartlist .shopping-cart .additional-charge-item{margin-top:3px}
#idnhldy-reservation .step-chartlist .shopping-cart .additional-charge-item.div-0{margin-top:10px;}
#idnhldy-reservation .step-chartlist .shopping-cart .additional-charge-item .blank-space{width:0}
#idnhldy-reservation .step-chartlist .shopping-cart .additional-charge-item .content-desc{width:100%}

/*STEP 4*/
#idnhldy-reservation .step-booking-detail .cart-list-detail{margin-left:-15px; margin-right:-15px; background:#FFF; padding:10px; border-radius:5px}
#idnhldy-reservation .step-booking-detail input.f_first_name{margin-right:10px !important}

/*STEP 5*/
#idnhldy-reservation .step-booking-success{margin-left:-15px; margin-right:-15px; background:#FFF; padding:10px; border-radius:5px}


/*PAGE VIEW*/
#idnhldy-reservation .page-view{margin-left:-15px; margin-right:-15px;}
#idnhldy-reservation .page-view .page-content{background:#FFF; padding:10px; border-radius:5px}

@media (max-width:990px) {
	#idnhldy-reservation{width:100%;}
	
	/*STEP 4*/
	#idnhldy-reservation .step-booking-detail .shopping-cart, .shopping-cart table td{font-size:12px}
}
@media (max-width: 768px){	
	#idnhldy-reservation .main-col-right .boxsxx{border-radius:0}
	
	
	.mycalendar{max-width:400px; width:100%;}
	
	.mycalendar td.day{height:auto;}
	.mycalendar td .date{font-size:12px; text-align:center}
	.mycalendar td.not-available .desc{display:none}
	.mycalendar td .rate{display:none}
	.mycalendar .fancybox_next_prev{display:none}
	
	.mycalendar .calendar-tab-left{display:none}
	.mycalendar .mobile-acordion-calendar{display:block}
	
	/*STEP 1*/
	#idnhldy-reservation .step-product-list .product-list{border-radius:0px}
	#idnhldy-reservation .step-product-list .inclusions{display:none}
	#idnhldy-reservation .step-product-list .short-description{width:100%}
	#idnhldy-reservation .step-product-list .short-description .short{min-height:4em !important}

	/*STEP 2*/
	#idnhldy-reservation h1.title{width:100%}
	#idnhldy-reservation .step-product-detail .wishlist {float:none !important; text-align:left; margin:0 -10px 5px  -10px;}
	#idnhldy-reservation .step-product-detail .booking .info-desc{width:100%}
	#idnhldy-reservation .step-product-detail .booking .select-date{width:50%; margin-top:15px; border-top:solid 4px #ececec; padding-top:10px}
	#idnhldy-reservation .step-product-detail .booking .bookprice{width:50%; margin-top:15px; border-top:solid 4px #ececec; padding-top:10px}
	
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .show-master-rate{width:30%}
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .form-select{width:36.666666%}
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .total-price{}
	
	/*STEP 3*/
	#idnhldy-reservation .step-chartlist .lesspad{padding-left:5px; padding-right:5px;}
	#idnhldy-reservation .step-chartlist .cart-image{padding:0; display:none}
	#idnhldy-reservation .step-chartlist .cart-desc{width:80%}
	#idnhldy-reservation .step-chartlist .hr hr{margin:10px 0 !important}
	
	/*STEP 4*/
	
	/*STEP 5*/

}
@media (max-width:568px) {
	#idnhldy-reservation .main-col-right .box .text{width:100%; float:none}
	
	#idnhldy-reservation #booking_step .res_nav ol li{display:none}
	#idnhldy-reservation #booking_step .res_nav ol li.active{display:block}
	#idnhldy-reservation #booking_step .res_nav ol li.sp{display:block}
	
	/*STEP 1*/
	#idnhldy-reservation .step-product-list .product-image{width:100%; padding-right:15px}
	#idnhldy-reservation .step-product-list .product-desc{width:100%; padding-left:15px; margin-top:10px}
	#idnhldy-reservation .step-product-list .short-description .short{min-height:0em !important}
	#idnhldy-reservation .step-product-list .short-description .btn-book-now{float:none !important; text-align:left;}

	/*STEP 2*/
	#idnhldy-reservation .step-product-detail .sharing-button .col{width:100%}
	#idnhldy-reservation .step-product-detail .sharing-button .col.wishlist{text-align:left; margin-top:10px;}
	#idnhldy-reservation .step-product-detail .booking .info-desc{width:100%}
	#idnhldy-reservation .step-product-detail .booking .select-date{width:100%; margin-top:15px; border-top:solid 4px #ececec; padding-top:10px}
	#idnhldy-reservation .step-product-detail .booking .bookprice{width:100%; margin-top:15px; border-top:solid 4px #ececec; padding-top:10px;}
	#idnhldy-reservation .step-product-detail .booking .bookprice .price{display:inline}
	#idnhldy-reservation .step-product-detail .booking .bookprice .xpax_or_paket{display:inline}
	#idnhldy-reservation .step-product-detail .booking .bookprice .avalilable-rate{text-align:center !important}
	
	#idnhldy-reservation .step-product-detail .gallery.videos .video{width:100%; float:none;}
	
	#idnhldy-reservation .step-product-detail .box-grey .col {width:100%; float:none}
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .show-master-rate{width:100%}
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .show-master-rate .breakdown-rate-by-age .desc-price{float:left}
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .show-master-rate .breakdown-rate-by-age .show-price{float:right}
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .form-select{width:100%; border-top:solid 1px #EEE; padding-top:10px}
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .total-price{width:100%; text-align:center;border-top:solid 1px #EEE; margin-top:10px}
	
	
	/*STEP 3*/
	
	#idnhldy-reservation .step-chartlist .lesspad{padding-left:0px; padding-right:0px;}
	#idnhldy-reservation .step-chartlist .cart-prod-desc{width:100%}
	#idnhldy-reservation .step-chartlist .cart-sub-total-item{width:100%; padding:0}
	#idnhldy-reservation .step-chartlist .cart-desc{width:100%}
	#idnhldy-reservation .step-chartlist .cart-edit{width:100%; text-align:left !important}
	#idnhldy-reservation .step-chartlist .cart-edit div{display:inline; margin-right:10px}
	#idnhldy-reservation .step-chartlist input.promotional_code{width:100% !important; margin:5px auto}
	#idnhldy-reservation .step-chartlist .cart-bottom-nav .col-xs-6{width:100%; text-align:center !important; margin-bottom:10px}

	#idnhldy-reservation .shopping-cart .additional-charge-item .checkbox-add{width:20px; z-index:100}
	#idnhldy-reservation .shopping-cart .additional-charge-item .title-description{width:45%}
	#idnhldy-reservation .shopping-cart .additional-charge-item .title-description .title{margin-bottom:5px}
	#idnhldy-reservation .shopping-cart .additional-charge-item .cmb.price{width:20%}
	#idnhldy-reservation .shopping-cart .additional-charge-item .cmb.price select{height:20px}
	#idnhldy-reservation .shopping-cart .additional-charge-item .satuan-unit{width:50%}
	#idnhldy-reservation .shopping-cart .additional-charge-item .show-price{width:30%}
	
	#idnhldy-reservation .step-chartlist .shopping-cart .additional-charge-item .border-bottom{padding-bottom:2px; margin-bottom:2px}
	#idnhldy-reservation .step-chartlist .shopping-cart .additional-charge-item .col-m-nofloat{float:none; width:100%}
	#idnhldy-reservation .step-chartlist .shopping-cart .additional-charge-item .cmb.price{text-align:left}

	
	/*STEP 4*/
	#idnhldy-reservation .step-booking-detail .cart-list-detail .cart-list{margin-top:10px; border-top:solid 1px #EEE; padding-top:10px}
	#idnhldy-reservation .step-booking-detail .cart-list.mobile-view{display:block}
	#idnhldy-reservation .step-booking-detail .cart-list.desktop-view{display:none}
	#idnhldy-reservation .step-booking-detail .table-field .tr-field left{margin-bottom:5px}
	#idnhldy-reservation .step-booking-detail .table-field .td-field{width:100%;}
	#idnhldy-reservation .step-booking-detail .left-side{width:100%}
	/*STEP 5*/
	
	
	.table-field .tr-field left {margin-bottom: 5px}
	.table-field .td-field {width: 100%;}
}
