/* CSS Document */
@media (max-width:990px) {
	.container{max-width:1170px}
}
@media (min-width: 768px){
	.container{max-width:1170px}
}
@media (max-width:550px) {
	.container{max-width:1170px}
}

