/* CSS Document */
/*STEP 1*/
#idnhldy-reservation .step-product-list .wishlist {text-align:right;}
#idnhldy-reservation .step-product-list .wishlist .icon{font-size:14px; color:#999}
#idnhldy-reservation .step-product-list .wishlist .icon a{font-size:14px;color:#999}
#idnhldy-reservation .step-product-list .wishlist .qty{color:#999; font-size:12px}
#idnhldy-reservation .step-product-list .wishlist a.active{color:#FF3838}


#idnhldy-reservation h1.title{font-size:22px; margin-bottom:10px; margin-top:0; width:80%}
#idnhldy-reservation .box-detail {margin:20px 0}

	#idnhldy-reservation .box-detail.banner-image img.banner-image{width:100%}
	
	#idnhldy-reservation .box-detail.product-hilight{font-size:18px;}
		#idnhldy-reservation .box-detail.product-hilight ul{padding-left:20px; list-style:square; line-height:1.2em}
		#idnhldy-reservation .box-detail.product-hilight ul li{margin-bottom:5px}
	
	#idnhldy-reservation .box-detail.gallery{}
	
	#idnhldy-reservation #controlTab li a{text-transform:uppercase; font-weight:bold}
	
	#idnhldy-reservation .tab-content .title {font-size: 20px;padding-bottom: 10px;}
	#idnhldy-reservation .tab-content h5 {font-weight:bold}
	
	#idnhldy-reservation #frm-get-voucher .booknow {font-size: 20px;padding-bottom: 10px;}
	#idnhldy-reservation #frm-get-voucher .jumlah {width: 100%; padding-top: 20px;}
	#idnhldy-reservation #frm-get-voucher .avalilable-rate {text-align:right}
	#idnhldy-reservation #frm-get-voucher .s {font-size: 14px;color: #666;padding-top: 5px;margin-bottom: 0px;text-align: right;text-decoration: line-through;}
	#idnhldy-reservation #frm-get-voucher .price {color: #d41704;font-size: 18px;line-height: 1em;margin-top: 10px;}
	#idnhldy-reservation #frm-get-voucher .price span {font-size: 30px;}
	#idnhldy-reservation #frm-get-voucher .pax_or_paket {color: #999;margin-bottom: 5px;}
	
	#xidnhldy-reservation .show-price {color: #d41704;font-size: 12px;line-height: 1em;margin-top: 10px;}
	#xidnhldy-reservation .show-price span.price {font-size: 30px;}
	#xidnhldy-reservation .show-price .pax_or_paket {color: #999;margin-bottom: 5px; font-size:14px}

/*STEP 2*/
	#idnhldy-reservation .step-product-detail #top-gallery .slider-pad{background:#CCC; width:100%; min-height:400px;}
	
	#idnhldy-reservation .step-product-detail .booking .select-date .jumlah .adult{padding-right:5px}
	#idnhldy-reservation .step-product-detail .booking .select-date .jumlah .child{padding-right:5px; padding-left:5px}
	#idnhldy-reservation .step-product-detail .booking .select-date .jumlah .toddler{padding-left:5px}
	
	#idnhldy-reservation .step-product-detail .box-grey{background:#FAFAFA; padding:10px; border-radius:5px; border:solid 1px #EEE}
	#idnhldy-reservation .step-product-detail .box-grey .row{padding-left:10px; padding-right:10px}
	#idnhldy-reservation .step-product-detail .box-grey .col{padding-left:5px; padding-right:5px}
	#idnhldy-reservation .step-product-detail .box-grey  hr{border-top:solid 1px #EEE; margin:10px 0}
	#idnhldy-reservation .step-product-detail .box-grey  hr:last-child{display:none}
	#idnhldy-reservation .step-product-detail .box-grey ul{list-style:disc !important}
	
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .show-master-rate{}
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .form-select{}
	#idnhldy-reservation .step-product-detail .box-grey.box-booking .total-price{text-align:right}
	
	#idnhldy-reservation .step-product-detail .breakdown-rate-by-age{margin-bottom:15px}
	#idnhldy-reservation .step-product-detail .show-price {color: #d41704;font-size: 12px;line-height: 1em; margin-top: 5px;}
	#idnhldy-reservation .step-product-detail .show-price span.price {font-size: 22px;}
	#idnhldy-reservation .step-product-detail .show-price .pax_or_paket {color: #999;margin-bottom: 5px; font-size:12px}
	
	#idnhldy-reservation .step-product-detail .rate-description h5{font-weight:bold; margin:0; font-size:12px}
	
	#idnhldy-reservation .step-product-detail .wishlist {text-align:right; margin-top:-30px}
	#idnhldy-reservation .step-product-detail .wishlist .icon{font-size:16px; color:#999}
	#idnhldy-reservation .step-product-detail .wishlist .icon a{font-size:16px;color:#999}
	#idnhldy-reservation .step-product-detail .wishlist .qty{color:#999; font-size:14px}
	#idnhldy-reservation .step-product-detail .wishlist a.active{color:#FF3838}
	#idnhldy-reservation .step-product-detail .gallery{margin-bottom:20px !important;}
	#idnhldy-reservation .step-product-detail .gallery.videos{margin-bottom:20px !important; margin-left:-5px; margin-right:-5px}
	#idnhldy-reservation .step-product-detail .gallery.videos .video{width:50%; float:left; padding:5px}
	
	#idnhldy-reservation .step-product-detail .additional_charge{border-top:solid 3px #FFFFFF}
	#idnhldy-reservation .step-product-detail .additional_charge .additional_charge_title{font-size: 20px;padding-bottom: 10px; margin-top:10px}
	#idnhldy-reservation .step-product-detail .additional_charge .additional_charge_list{padding:5px 0;}
	#idnhldy-reservation .step-product-detail .additional_charge .additional_charge_list .title{font-size:14px; font-weight:bold;}
	#idnhldy-reservation .step-product-detail .additional_charge .additional_charge_list .desc{padding:5px 0; border-bottom:solid 1px #E5E5E5}
	#idnhldy-reservation .step-product-detail .additional_charge .additional_charge_list:last-child .desc{border-bottom:none; padding-bottom:0}

/*STEP 3*/
	#idnhldy-reservation .shopping-cart .lesspad{padding-left:5px; padding-right:5px}
	#idnhldy-reservation .shopping-cart .cart-sub-total-item{padding:30px 10px 0 0; text-align:right}
	
	#idnhldy-reservation .shopping-cart .additional-charge-item{}
	#idnhldy-reservation .shopping-cart .additional-charge-item .border-bottom{border-bottom:solid 1px #EEE; margin-bottom:5px; padding-bottom:5px}
	#idnhldy-reservation .shopping-cart .additional-charge-item.div-0 .border-bottom{border-top:solid 1px #EEE; padding-top:5px}
	
	#idnhldy-reservation .shopping-cart .additional-charge-item .blank-space{width:21%}
	#idnhldy-reservation .shopping-cart .additional-charge-item .content-desc{width:79%}
	#idnhldy-reservation .shopping-cart .additional-charge-item .checkbox-add{width:3%}
	#idnhldy-reservation .shopping-cart .additional-charge-item .title-description{width:40%}
	
	#idnhldy-reservation .shopping-cart .additional-charge-item .satuan-unit{width:22%}
	#idnhldy-reservation .shopping-cart .additional-charge-item .cmb.price{width:18%; text-align:left}
	
	#idnhldy-reservation .shopping-cart .additional-charge-item .show-price{width:17%}
	
	#idnhldy-reservation .shopping-cart .additional-charge-item .title-description .title{font-weight:bold}
	#idnhldy-reservation .shopping-cart .additional-charge-item .title-description .desc{color:#333; display:none; margin-bottom:5px}
	#idnhldy-reservation .shopping-cart .additional-charge-item .price{text-align:right; padding-bottom:0}

#idnhldy-reservation .main-col-left{padding-right:10px;}
#idnhldy-reservation .main-col-right{padding-left:5px;}
#idnhldy-reservation .main-col-right .box{margin-top:0; color:#FFF; padding:10px; background-color:#6d9c2f/*#007d9d*/; margin-bottom:10px; border-radius:10px;font-size:12px;}
#idnhldy-reservation .main-col-right .box a{color:#FFF}
#idnhldy-reservation .main-col-right .box h2{margin:0; font-size:16px; color:#FFF; font-weight:bold; padding-bottom:5px; border-bottom:solid 2px #FFF; margin-bottom:10px}
#idnhldy-reservation .main-col-right .box .product-name a{color:#ffcc00; text-decoration:none}
#idnhldy-reservation .main-col-right .box .address-and-price{color:#FFF; font-size:12px}
#idnhldy-reservation .main-col-right .box .text hr{border-top: 1px solid #7AB330 /*#00bbeb*/; margin-top: 5px;margin-bottom: 5px;}


.mycalendar{font-size:12px; max-width:800px; width:100%; margin:auto}
.mycalendar td.day{height:70px; width:92px}
.mycalendar tr.month-year-title{font-size:14px; font-weight:bold}
.mycalendar tr.day-title{background:green; color:#FFF}
.mycalendar td .date{font-size:14px; font-weight:bold; text-align:left; color:green}
.mycalendar td.not-available{background:#FFADAD;}
.mycalendar td.not-available .date{color:#999;}
.mycalendar td.not-available .desc{color:#AAA; alignment-adjust:central; text-transform:uppercase; text-align:center; font-size:12px; margin-top:0px;}
.mycalendar td .rate{text-align:right; font-size:14px; font-weight:bold}
.mycalendar td .rate .currency{font-size:12px}
.mycalendar td .rate .detail{font-size:12px; font-weight:normal}

.mycalendar .calendar-tab-left{font-size:12px; padding:0 !important}
.mycalendar .calendar-tab-left .outer-tab{position:relative;}
.mycalendar .calendar-tab-left .outer-tab .tab{padding:15px 5px; color:#AAA; cursor:pointer; background:#EEE; border:solid 1px #CCC; border-right:none; border-top:none; text-align:right}
.mycalendar .calendar-tab-left .outer-tab.active .tab{background:#FFF; color:#000; border-right:1px solid #FFF; margin-right:-1px; font-size:12px; font-weight:bold}
.mycalendar .calendar-tab-left .outer-tab .tab:hover{background:#FDFDFD; color:#000;}

.mycalendar .calendar-select{display:none}
.mycalendar .mobile-acordion-calendar{display:none}
