@charset "utf-8";

.hidden-field{display:none}
table.td_center_align td{vertical-align:middle !important}
.table-borderless td, .table-borderless th { border:none !important }


/* LOGIN PAGE */
body.login { margin:0px; padding:0px; background-color:#FFF; }

#MainContainer { width:387px; margin:0px auto; margin-top:20px; font:9pt Arial; color:#000; }
#MainContainerRsvp { width:487px; margin:0px auto; margin-top:20px; font:9pt Arial; color:#000; }
#DivSeparator { width:387px; margin:0px auto; border-bottom:1px solid #4c4c4c; padding-top:5px; margin-bottom:10px; }
/* -- LOGIN PAGE */


#content-page{min-height:600px; background:#FFF; padding:0 20px; padding-top:70px; font-size:12px}

.gallery .front-banner{width:100%; max-width:950px; max-height:260px; overflow:hidden; border:solid 0px #CCC;}
.gallery .inside-banner{width:100%; max-width:700px; max-height:255px; overflow:hidden; border:solid 0px #CCC;}
.gallery .thumb{width:100%; max-width:251px; max-height:200px; overflow:hidden; border:solid 0px #CCC;}


.img-gallery{padding:5px}
	.img-gallery .caption{padding:0; margin:0; margin-top:5px}

footer{width:100%; text-align:center; background:#EEE; padding:15px; border-top:solid 1px #DDD; font-size:12px; color:#999}


#loading_page {width: 100%;height: 100%;background: rgba(0,0,0,0.5);position: fixed;z-index: 10000}
#loading_page .loading_box {background: #FFF;border: solid 5px #222;border-radius: 5px;position: absolute;top: 50%;right: 50%;padding: 5px;margin-top: -35px;margin-right: -88px}
#loading_page .loading_box .image {float: left;margin-right: 0px;}
#loading_page .loading_box .desc {float: left;margin-top: 5px}

/*

.max-width{width:980px; margin:auto; background:#FFF}
.containner{box-shadow:0 0 10px #000; font-size:12px}

#header{height:100px; background:#000; width:100%; padding:20px; position:relative}
#menu{}
#menu .navbar{border:none; border-radius:0; min-height:inherit; margin:0}
#menu .navbar .navbar-nav > li a{padding-top:13px;padding-bottom:13px;}
#menu .navbar .navbar-nav a.active{background:#000}

#content-page{min-height:400px; background:#FFF; padding:0 20px}
#footer{background:#000; width:100%; padding:20px; position:relative; color:#CCC; text-align:center}


.admin_auto_login {font-family: Arial, Helvetica, sans-serif;text-align: center;font-size: 12px;position: fixed;z-index:2000; width: 990px;}
	.admin_auto_login span {background: #FF9;border: solid 1px #FC0;padding: 2px 10px;font-weight: bold;box-shadow: 0px 3px 5px #333;border-radius: 0 0 5px 5px;}
	
	
.show_kategori_product{padding:0 0 0 30px; margin:0}
	.show_kategori_product li{padding:5px }
	.show_kategori_product li span.tools{opacity:0.3; cursor:pointer}
	.show_kategori_product li span.tools:hover{opacity:1}

.box-search{border:solid 1px  #CCC; padding:5px}
.paging.no-margin .pagination{margin:0}*/