@charset "utf-8";

.hidden-field{display:none}
table.td_center_align td{vertical-align:middle !important}

body{background:#ececec}

/* LOGIN PAGE */
body.login { margin:0px; padding:0px; background-color:#FFF; }

#MainContainer { max-width:387px; margin:0px auto; padding-top:100px; font:9pt Arial; color:#000; }
#DivSeparator { max-width:387px; margin:0px auto; border-bottom:1px solid #CCC; padding-top:5px; margin-bottom:10px; }
/* -- LOGIN PAGE */

#content-page{min-height:500px; background:#FFF; padding:20px; margin-top:60px; margin-bottom:10px; font-size:12px; border-radius:8px}

.max-width{max-width:800px; width:100%; margin:auto}

h1.title-page{font-size:24px; margin-top:0;}
h1.title-page .glyphicon{font-size:18px}
span.req{color:red; font-weight:bold}

footer{width:100%; text-align:center; background:#EEE; padding:15px; border-top:solid 1px #DDD; font-size:12px; color:#999}