/* CSS Document */
#loading_page {width: 100%;height: 100%;background: rgba(0,0,0,0.5);position: fixed;z-index: 10000}
#loading_page .loading_box {background: #FFF;border: solid 5px #222;border-radius: 5px;position: absolute;top: 50%;right: 50%;padding: 5px;margin-top: -35px;margin-right: -88px}
#loading_page .loading_box .image {float: left;margin-right: 0px;}
#loading_page .loading_box .desc {float: left;margin-top: 5px}

.autologin-div{background:#FFFFE5; padding:10px; border:solid 1px #EFEFC6}

table tr td.closed-date, table tr td.closed-date.CTA, table tr td.closed-date.CTD, table tr td.closed-date.CTA.CTD{background:#F00 !important; color:#FFF}
table tr td.CTA{background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#FFC36A), color-stop(50%,#FFF));}
table tr td.CTD{background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#FFF), color-stop(50%,#D479F9));}
table tr td.CTA.CTD{background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#FFC36A), color-stop(50%,#D479F9)) !important;}


.container{width:auto !important}
body{background:#EEE !important; font-size:12px}
.hidden-field{display:none}

.max-width{width:930px; margin:auto; backgrounds:#999; }

.main-container{padding:10px; padding-top:40px}

.container.lesspadding{margin-left:5px !important; margin-right:5px !important; padding-left:5px !important; padding-right:5px !important}
.container.lesspadding .col{padding-left:5px !important; padding-right:5px !important}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th{background-color:#FCFCFC}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{border-top:1px solid #eee;}
.table-borderless td, .table-borderless th { border:none !important }
table tr.header{background:#EEE}
table tr.header.bold{font-weight:bold}


.inline-edit .inline-edit-icon{display:none; font-size:11px;}
.inline-edit .cancel{padding-top:7px; padding-left:10px; font-size:11px}
tr:hover .inline-edit .inline-edit-icon{display:inline}

span.glyphicon.active{color:#089800}
span.glyphicon.notactive{color:#CCC}

/* HEADER */
header{margin-bottom:25px}
	header:after{display:table; content:' '; clear:both}
	header .logo{float:left}
	header .logo .img{width:212px;}
	header .logo .img:after{display:table; content:' '; clear:both}
	header .logo .img .extranet-type{font-weight:bold; padding-top:5px}
	
	header .vendor-right{float:right; text-align:right; margin-top:15px}
	header .vendor-right a{color:#333}
	header .vendor-right .vendor-name a{font-weight:bold; font-size:14px}
	
	header .vendor-right .menus{margin-top:20px}
	header .vendor-right .menus .menu{float:right; margin-left:20px}
	header .vendor-right .menus .menu.inbox{position:relative; margin-right:5px}
	header .vendor-right .menus .menu.inbox .inbox-notif{background:red; color:#FFF; padding:0px 5px; width:auto; font-size:10px; z-index:100; position:absolute; right:-5px; top:-5px}
	
/* -- HEADER */

/* HOME */
.content .home{margin:0 8px !important}
.content .home .row .col{padding-left:8px !important; padding-right:8px !important;}

.content .home .main-panel .panel{background:#1a75bb; color:#FFF; height:157px; margin-bottom:17px; font-size:16px; text-align:center; padding-top:68px}
.content .home .main-panel .panel:hover{background:#005698}

.content .home-overview{background:#e6e6e6; padding:20px; margin-top:10px; border: solid 1px #DDD}
.content .home-overview .booking-list{margin-top:15px}

.content .home-overview .stats {margin-top:30px}
.content .home-overview .stats .stats-item{width:50%; float:left; padding:5px}
.content .home-overview .stats .stats-item .item{background:#FFF; height:70px; overflow:hidden}

.content .home-overview .stats .stats-item .item .icon{width:70px; height:70px; color:#FFF; font-size:26px; text-align:center; vertical-align:middle; float:left; padding-top:15px}
.content .home-overview .stats .stats-item .item .icon.visitors{background:#de4d3a;}
.content .home-overview .stats .stats-item .item .icon.likes{background:#00c0ef;}
.content .home-overview .stats .stats-item .item .icon.bookings{background:#f39c11;}
.content .home-overview .stats .stats-item .item .icon.comments{background:#01a75b;}

.content .home-overview .stats .stats-item .item .text {float:left; padding:5px;}
.content .home-overview .stats .stats-item .item .text .title{font-size:11px; font-weight:bold; color:#666}
.content .home-overview .stats .stats-item .item .text .value{font-size:16px; font-weight:bold; margin-top:5px}
.content .home-overview .stats .stats-item .item .text .desc{margin-top:2px; font-size:10px; color:#999}

/* -- HOME */



/* INSIDE */
.content .inside{border-top:solid 8px #1b77c0}
	.content .inside .menu-left{width:230px; background:#f5f5f5; float:left; border:solid 1px #d6d6d6; border-top:none; border-right:none; min-height:200px; }
	
	.content .inside .menu-left ul.menus{list-style:none; margin:0; padding:0;}
	.content .inside .menu-left ul.menus li{margin:0; padding:0; border-bottom:solid 1px #d6d6d6; border-right:solid 1px #d6d6d6; padding:3px; padding-right:0}
	.content .inside .menu-left ul.menus li a{display:block; padding:9px; text-decoration:none; color:#363636}
	.content .inside .menu-left ul.menus li a span{margin-right:10px}
	.content .inside .menu-left ul.menus li.active{border-right:none}
	.content .inside .menu-left ul.menus li.active a{background:#FFF; margin-right:-1px}
	.content .inside .menu-left ul.menus li a:hover{background:#EEE}
	.content .inside .menu-left ul.menus li.active a:hover{background:#FFF}
	 
	.content .inside .content-right{min-height:500px; background:#FFF; float:left; width:680px; box-shadow:0 0 0 #999999; border-top:solid 3px #F5F5F5; padding:30px 30px}
	.content .inside .content-right h1{margin:0; margin-bottom:20px; font-size:20px; text-transform:uppercase;}
	.content .inside .content-right .sub-title{background:#eeeeee; padding:7px 10px; text-transform:uppercase; margin:0; color:#999}
	.content .inside .content-right table.table{margin-bottom:0}
	
.content .inside .contact-edit .contact{margin-top:3px; margin-bottom:3px}
/* -- INSIDE */

/* PRODUCT */
.content .inside .products .product{background:#f9f9f9; border: solid 1px #eeeeee; padding:10px; margin-bottom:10px; height:auto;}
	.content .inside .products .product.danger{background:#f2dede; border-color:#eed3d7}
	.content .inside .products .product .image{width:100%; height:165px; background:#CCC; float:left;}
	.content .inside .products .product .desc{}
	.content .inside .products .product .desc .title{font-size:16px; margin:5px 0 10px 0; font-weight:bold;}
	.content .inside .products .product .desc .title a{color:#666}
	.content .inside .products .product .desc .stats{margin-bottom:10px; color:#999}
	.content .inside .products .product .desc .code{margin-bottom:10px;}
	.content .inside .products .product .desc .category{margin-bottom:20px;}


/* DETAIL/EDIT */

.content .inside .product-detail{}
	.content .inside .product-detail .product{margin-bottom:20px}
	.content .inside .product-detail .product .image{width:100%; height:135px; background:#CCC; float:left; overflow:hidden}
	.content .inside .product-detail .product .desc{}
	.content .inside .product-detail .product .desc .title{font-size:16px; margin:0px 0 10px 0; font-weight:bold;}
	.content .inside .product-detail .product .desc .title a{color:#666}
	.content .inside .product-detail .product .desc .stats{margin-bottom:8px; color:#999}
	.content .inside .product-detail .product .desc .code{margin-bottom:8px;}
	.content .inside .product-detail .product .desc .category{margin-bottom:10px;}

/* -- PRODUCT */

.mytab ul{margin:0; padding:0; list-style:none}
.mytab ul:after{clear:both; content:' '; display:table}
.mytab ul li{padding:0; margin:0; background:#f9f9f9; border:#eeeeee solid 1px; padding:5px; min-width:125px; float:left; margin-right:10px; 
		text-align:center; border-radius:3px 3px 0 0}
.mytab ul li.active{background:#FFF; border-bottom:#FFF solid 1px}
.mytab ul li:hover{background:#F2F2F2}
.mytab ul li.active:hover{background:#FFF}
.mytab ul li a{text-decoration:none}
.mytab ul li a.notactive, a.get_step_status.notactive{color:#CCC !important}
.mytab-content{border:#eeeeee solid 1px; padding:20px 10px 10px 10px; min-height:200px; margin-top:-1px}

table td .left-td{background:#F2F2F2; padding:6px 10px}

/* FOOTER */
footer{margin-bottom:50px}
/* -- FOOTER */