/* CSS Document */


#idnhldy-reservation .res_nav{background:#EBEBEB url(../images_tab/background-menu.png) top repeat-x;clear: both;color: #252525;
	height: 35px;margin:-15px -14px 15px -14px;overflow:hidden; line-height:1em;}
	
	#idnhldy-reservation .res_nav ol{list-style:none !important; margin:1px 0; padding:0}
	#idnhldy-reservation .res_nav ol li{float:left; padding:10px 5px 10px 10px; font-size:12px; color:#999; width:auto; text-align:center}
	
	#idnhldy-reservation .res_nav ol li.sp{background:url(../images_tab/bg-wizard-right.png) right top; height:34px; padding:0; width:20px}
	#idnhldy-reservation .res_nav ol li.sp_active{background:url(../images_tab/bg-wizard-color.jpg) right top; height:34px; padding:0; width:18px}
	#idnhldy-reservation .res_nav ol li.active{background:url(../images_tab/bg-active.png); height:45px; color:#FFF; padding-right:30px; margin-right:-20px}
