/* CSS Document */

#header-container{width:890px !important}
#navbar{width:890px !important}
#idnhldy-reservation{width:890px}
#idnhldy-reservation table{font-size:12px !important}
#idnhldy-reservation .page-title-grey{padding:10px 15px; margin:20px -15px; background:rgb(237,237,237); font-weight:bold; font-size:14px}

#idnhldy-reservation .submitButton{background:url(../../images/button-green.png) top right; padding:3px 40px 5px 20px; border:none; height:38px; color:#FFF; border-radius:5px; cursor:pointer}
#idnhldy-reservation .submitButton:hover{background:url(../../images/button-green.png) bottom right;}

#idnhldy-reservation .greyButton{background:url(../../images/button-gray.png) top right; padding:3px 20px 5px 20px; border:none; height:38px; color:#FFF; border-radius:5px; cursor:pointer}
#idnhldy-reservation .greyButton:hover{background:url(../../images/button-gray.png) bottom right;}

#idnhldy-reservation h1.title{font-size:22px; margin-bottom:10px; margin-top:0}

#idnhldy-reservation .page-view{min-height:400px}

#idnhldy-reservation .main-col-left{padding-right:10px;}
#idnhldy-reservation .main-col-right{padding-left:5px;}
#idnhldy-reservation .main-col-right .box{margin-top:0; color:#FFF; padding:10px; background-color:#6d9c2f/*#007d9d*/; margin-bottom:10px; border-radius:10px;font-size:12px;}
#idnhldy-reservation .main-col-right .box a{color:#FFF}
#idnhldy-reservation .main-col-right .box h2{margin:0; font-size:16px; color:#FFF; font-weight:bold; padding-bottom:5px; border-bottom:solid 2px #FFF; margin-bottom:10px}
#idnhldy-reservation .main-col-right .box .product-name a{color:#ffcc00; text-decoration:none}
#idnhldy-reservation .main-col-right .box .address-and-price{color:#FFF; font-size:12px}
#idnhldy-reservation .main-col-right .box .text hr{border-top: 1px solid #7AB330 /*#00bbeb*/; margin-top: 5px;margin-bottom: 5px;}


/*STEP 1*/
#idnhldy-reservation .step-booking-form .booking-form-and-main-image{padding-left:15px; padding-right:15px}
#idnhldy-reservation .step-booking-form .booking-form-and-main-image .grey-bg{height: 260px; background: #f9f9f9; border: solid 1px #efefef; 
	color: #666; font-size: 12px; padding:20px}
#idnhldy-reservation .step-booking-form .booking-form-and-main-image .grey-bg.thumbnail{padding:0 !important}
#idnhldy-reservation .step-booking-form .rooms .room{}
#idnhldy-reservation .step-booking-form .rooms hr{margin:10px 0}


/*STEP 2*/
#idnhldy-reservation .button_submit_form{margin:30px;}

#idnhldy-reservation .viewListActive{width:433px; background:#effffb; float:left; border:solid 1px #b7e8dc; }
	#idnhldy-reservation .viewListActive .price{font-size:10px; font-weight:bold; text-align:right; padding-left:20px}
	#idnhldy-reservation .viewListActive .price div{color:#91bf04; font-size:20px}
	#idnhldy-reservation .viewListActive .title{margin:0px; font-size:16px; font-weight:bold; color:#333; font-family:inherit}
	#idnhldy-reservation .viewListActive .image img{width:100%}
	#idnhldy-reservation .viewListActive .image {margin:10px 0 20px 0}
	#idnhldy-reservation .viewListActive .view_price a, .view_price a{color:#2982ba; font-weight:bold;}
	#idnhldy-reservation .viewListActive .view_price{margin-bottom:20px} 
	#idnhldy-reservation .viewListActive .desc{color:#666; margin-bottom:20px}
	#idnhldy-reservation .viewListActive .detail_room a{color:#5a83dc; text-decoration:none}
	#idnhldy-reservation .viewListActive .detail_room a:hover{text-decoration:underline}
	

#idnhldy-reservation .viewList{width:415px; float:left; background:#dfeaeb}
	#idnhldy-reservation .viewList .header{background:url(../../images/bg-active.png); padding:10px; color:#FFF; border:solid 2px #FFF; 
		border-top:none; border-right:none;}
	#idnhldy-reservation .viewList .header strong{font-size:14px; color:#FFF}
	
	#idnhldy-reservation .viewList .list{border:solid 2px #FFF; border-top:none; border-right:none; cursor:pointer}
	#idnhldy-reservation .viewList .list.active .d_list{background:#effffb; border:solid 1px #b7e8dc; border-left:none; margin-left:-3px}
	#idnhldy-reservation .viewList .list .icon div{width:88px; height:65px; overflow:hidden; border:solid 5px #FFF; margin:10px}
	#idnhldy-reservation .viewList .list .icon div img{width:88px; height:65px;}
	#idnhldy-reservation .viewList .list table {position:relative;}
	#idnhldy-reservation .viewList .list table tr{position:relative;}
	
	#idnhldy-reservation .viewList .list .desc{padding:10px 10px 10px 0; position:relative}
	#idnhldy-reservation .viewList .list .desc strong{font-size:14px; color:#555}
	#idnhldy-reservation .viewList .list .desc em, .viewList .list .desc .detail{font-size:11px}
	#idnhldy-reservation .viewList .list .desc .price{color:#91bf04; padding-left:10px}
	#idnhldy-reservation .viewList .list .desc .price span{font-size:16px; font-weight:bold}
	
#idnhldy-reservation .viewBreakDownPrice{font-size:11px;}
#idnhldy-reservation .viewBreakDownPrice th{text-align:left; background:#295f71; padding:5px; color:#FFF}
#idnhldy-reservation .viewBreakDownPrice td{padding:5px;}
#idnhldy-reservation .viewBreakDownPrice tr:nth-child(even){background:#FFF}
#idnhldy-reservation .viewBreakDownPrice tr:nth-child(odd){background:#e9f5ff}

#idnhldy-reservation .viewBreakDownPriceTotal{background:#e9f5ff; margin:10px auto 0 auto}
#idnhldy-reservation .viewBreakDownPriceTotal td{padding:2px;}

#idnhldy-reservation .rate_type{font-size:11px; padding:1px 3px; border-radius:2px}
	#idnhldy-reservation .rate_type.r_type_1{background:#09F; color:#FFF}
	#idnhldy-reservation .rate_type.r_type_4{background:#F00; color:#FFF}
	#idnhldy-reservation .rate_type.r_type_3{background:#F90; color:#FFF}
	#idnhldy-reservation .rate_type.r_type_7{background:#090; color:#FFF}
	#idnhldy-reservation .rate_type.r_type_8{background:#090; color:#FFF}
	#idnhldy-reservation .rate_type.r_type_discount{background:#F00; color:#FFF}
	#idnhldy-reservation .rate_type.r_type_packages{background:#F00; color:#FFF}

#idnhldy-reservation .galleries .gallery{width:116px; height:76px; overflow:hidden; border:2px solid #FFF; float:left; margin:0 10px 10px 0}

/*

#aidnhldy-reservation *{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif !important; letter-spacing:0 !important; font-size:12px; line-height:1.3em}
.ui-datepicker{font-size:12px !important; font-family:Arial, Helvetica, sans-serif !important}
#idnhldy-reservation .form-control{padding:5px !important; margin:3px !important; height:auto !important; border-radius:0; background:#FFF; -webkit-appearance:field !important}

#idnhldy-reservation .alert.alert-danger{padding:10px}
#idnhldy-reservation .alert.alert-danger ul{margin:0 !important; padding:0 !important}

#idnhldy-reservation a{color:#428bca}

#idnhldy-reservation .clear{clear:both}
#idnhldy-reservation .req{color:red}

#idnhldy-reservation{width:890px; min-height:500px; border:solid 1px #CCC; margin:10px auto; background:#FFF; color:#000; font-size:12px}
#idnhldy-reservation table{font-family:Arial, Helvetica, sans-serif; margin:0}
#idnhldy-reservation .res_nav{background:#EBEBEB url(../images/background-menu.png) top repeat-x;clear: both;color: #252525;height: 45px;margin: 0 1px 1px 1px;overflow:hidden; line-height:1em}
	#idnhldy-reservation .res_nav ol{list-style:none; margin:1px 0;}
	#idnhldy-reservation .res_nav ol li{float:left; padding:10px 5px 10px 10px; font-size:18px; color:#999}
	
	#idnhldy-reservation .res_nav ol li.sp{background:url(../images/bg-wizard-right.png) right top; height:44px; padding:0; width:20px}
	#idnhldy-reservation .res_nav ol li.sp_active{background:url(../images/bg-wizard-color.jpg) right top; height:44px; padding:0; width:18px}
	#idnhldy-reservation .res_nav ol li.active{background:url(../images/bg-active.png); height:45px; color:#FFF; padding-right:30px; margin-right:-20px}
	
#idnhldy-reservation #FormDate{height:260px; width:400px; background:#f9f9f9; border:solid 1px #efefef; margin:20px 10px 20px 30px; float:left;color:#666; font-size:12px}
	#idnhldy-reservation #FormDate .inside{margin:20px}
#idnhldy-reservation #ImgSlide{height:260px; width:400px; background:#f9f9f9; border:solid 1px #efefef; margin:20px 20px 10px 20px; float:left; overflow:hidden}
	#idnhldy-reservation #ImgSlide img{min-height:260px; min-width:400px}

#idnhldy-reservation .submitButton{background:url(../images/button-green.png) top right; padding:3px 40px 5px 20px; border:none; height:38px; color:#FFF; border-radius:5px; cursor:pointer}
#idnhldy-reservation .submitButton:hover{background:url(../images/button-green.png) bottom right;}

#idnhldy-reservation .greyButton{background:url(../images/button-gray.png) top right; padding:3px 20px 5px 20px; border:none; height:38px; color:#FFF; border-radius:5px; cursor:pointer}
#idnhldy-reservation .greyButton:hover{background:url(../images/button-gray.png) bottom right;}


#idnhldy-reservation .colapsable .colapseHeader{padding:10px 10px 10px 46px; background:url(../images/breadcrumb-back.png); margin-bottom:20px; font-weight:bold; position:relative}
#idnhldy-reservation .colapsable .colapseHeader .icon{background:url(../images/colapsable-arrow.png) right top no-repeat; width:36px; position:absolute; top:10px; left:2px; height:16px; cursor:pointer;}
#idnhldy-reservation .colapsable .content{padding:0 20px 20px 20px}

#idnhldy-reservation #dateCInCOut {font-size:11px; margin-bottom:20px} 
.dtRoomAvailable a.ui-state-default{background:url(../images/bg_calendar.png) left -7px; color:#FFF; padding:3px; border-radius:3px}
.dtCloseOut a.ui-state-default{background:url(../images/bg_calendar.png) left 25px; color:#FFF; padding:3px; border-radius:3px}
.dtRestrictionapply a.ui-state-default{background:url(../images/bg_calendar.png) left 55px; color:#FFF; padding:3px; border-radius:3px}
.dtDefault a.ui-state-default{padding:3px; border-radius:3px}

#idnhldy-reservation .clearLegend .dtRoomAvailable{height:18px; width:20px; background:url(../images/bg_calendar.png) left -7px; float:left; margin-right:10px}
#idnhldy-reservation .clearLegend .dtCloseOut{height:18px; width:20px; background:url(../images/bg_calendar.png) left 25px; float:left; margin-right:10px}
#idnhldy-reservation .clearLegend .dtRestrictionapply{height:16px; width:20px; background:url(../images/bg_calendar.png) left 55px; float:left; margin-right:10px}
#idnhldy-reservation .clearLegend{clear:both;}

#idnhldy-reservation .button_submit_form{margin:30px; text-align:right}

#idnhldy-reservation .viewListActive{width:433px; background:#effffb; float:left; border:solid 1px #b7e8dc; }
	#idnhldy-reservation .viewListActive .price{font-size:10px; font-weight:bold; text-align:right; padding-left:20px}
	#idnhldy-reservation .viewListActive .price div{color:#91bf04; font-size:20px}
	#idnhldy-reservation .viewListActive .title{margin:0px; font-size:16px; font-weight:bold; color:#333; font-family:inherit}
	#idnhldy-reservation .viewListActive .image img{width:100%}
	#idnhldy-reservation .viewListActive .image {margin:10px 0 20px 0}
	#idnhldy-reservation .viewListActive .view_price a, .view_price a{color:#2982ba; font-weight:bold;}
	#idnhldy-reservation .viewListActive .view_price{margin-bottom:20px} 
	#idnhldy-reservation .viewListActive .desc{color:#666; margin-bottom:20px}
	#idnhldy-reservation .viewListActive .detail_room a{color:#5a83dc; text-decoration:none}
	#idnhldy-reservation .viewListActive .detail_room a:hover{text-decoration:underline}
	

#idnhldy-reservation .viewList{width:415px; float:left; background:#dfeaeb}
	#idnhldy-reservation .viewList .header{background:url(../images/bg-active.png); padding:10px; color:#FFF; border:solid 2px #FFF; 
		border-top:none; border-right:none;}
	#idnhldy-reservation .viewList .header strong{font-size:14px; color:#FFF}
	
	#idnhldy-reservation .viewList .list{border:solid 2px #FFF; border-top:none; border-right:none; cursor:pointer}
	#idnhldy-reservation .viewList .list.active .d_list{background:#effffb; border:solid 1px #b7e8dc; border-left:none; margin-left:-3px}
	#idnhldy-reservation .viewList .list .icon div{width:88px; height:65px; overflow:hidden; border:solid 5px #FFF; margin:10px}
	#idnhldy-reservation .viewList .list .icon div img{width:88px; height:65px;}
	#idnhldy-reservation .viewList .list table {position:relative;}
	#idnhldy-reservation .viewList .list table tr{position:relative;}
	
	#idnhldy-reservation .viewList .list .desc{padding:10px 10px 10px 0; position:relative}
	#idnhldy-reservation .viewList .list .desc strong{font-size:14px; color:#555}
	#idnhldy-reservation .viewList .list .desc em, .viewList .list .desc .detail{font-size:11px}
	#idnhldy-reservation .viewList .list .desc .price{color:#91bf04; padding-left:10px}
	#idnhldy-reservation .viewList .list .desc .price span{font-size:16px; font-weight:bold}
	
#idnhldy-reservation .viewBreakDownPrice{font-size:11px;}
#idnhldy-reservation .viewBreakDownPrice th{text-align:left; background:#295f71; padding:5px; color:#FFF}
#idnhldy-reservation .viewBreakDownPrice td{padding:5px;}
#idnhldy-reservation .viewBreakDownPrice tr:nth-child(even){background:#FFF}
#idnhldy-reservation .viewBreakDownPrice tr:nth-child(odd){background:#e9f5ff}

#idnhldy-reservation .viewBreakDownPriceTotal{background:#e9f5ff; margin:10px auto 0 auto}
#idnhldy-reservation .viewBreakDownPriceTotal td{padding:2px;}

#idnhldy-reservation .rate_type{font-size:11px; padding:1px 3px; border-radius:2px}
	#idnhldy-reservation .rate_type.r_type_1{background:#09F; color:#FFF}
	#idnhldy-reservation .rate_type.r_type_4{background:#F00; color:#FFF}
	#idnhldy-reservation .rate_type.r_type_3{background:#F90; color:#FFF}
	#idnhldy-reservation .rate_type.r_type_7{background:#090; color:#FFF}
	#idnhldy-reservation .rate_type.r_type_discount{background:#F00; color:#FFF}

#idnhldy-reservation .galleries .gallery{width:116px; height:76px; overflow:hidden; border:2px solid #FFF; float:left; margin:0 10px 10px 0}*/